*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: monospace;
	color: #000000;
}
header{
	margin: auto;
	width: 1200px;
	left: auto;
}

header figure{
	background: url("../img/design1_image1.jpg");
	height: 350px;
	background-size:100% 150%;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 45px;
}
.nav-logo{
	position: relative;
	background-color: black;
	margin: 10px 45px 0 45px;
	width: auto;
	height: 50px;
}


header #image_logo1{
	position: absolute;
	left: 850px;
	bottom: -20px;
}

header #image_logo1:hover{
	transform: translate(0, -15px);
}

#title_header{
	transform: translate(0,-440px);
	width: 450px;
	font-size: 30px;
}
.calendary h2{
	transform: translate(170px, -251px);
	text-transform: uppercase;
	color: #FFFFFF;
	/* display: none; */
}

main{
	width: 700px;
	position: relative;
	top: 38px;
	left: 135px;
}

main aside{
	position: relative;
	bottom: 20px;
	width: 20%;
} 
main aside nav a{
	display:block;
	margin-top: 25px;
	
}

main section {
	width: 60%;
	float:right;
	top: 100px;
}

section .section-list {
	position: relative;
	bottom: 183px;
	list-style: none;
}

.items-events{
	margin-top: 25px;
}

.subLista{
	list-style: none;
	text-indent:10px;
}

.navigator a{
	
	text-transform: uppercase;
	text-decoration: none;
}

.navigator a:hover {
	text-decoration: underline;
	transform: translate(15px,0);
	background-color: #FFF000;
	width: fit-content;
}


/*Estilos ABOUT*/

.principal{
	height: 300px;
	padding: 10px 0;
}


.titles-articles{
	position: relative;
	bottom: 168px;
	left: 270px;
}

#subtitle-header{
	transform: translate(480px,-249px);
	text-transform: uppercase;
	width: 450px;
	font-size: 20px;
	color: #ffffff;
}

.article{
	margin-top: 25px;
}


/*Estilos contactos*/

#subtitle-contact{
	transform: translate(180px,-237px);
	text-transform: uppercase;
	width: fit-content;
	color: #FFFFFF;
}

.titles-contact{
	position: relative;
	left: 5px;
	bottom:150px;
}

.titles-contact a {
	background-color: #FFF000;
}

#title_contact{
	transform: translate(0,-430px);
	width: 450px;
	font-size: 30px;
}