*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-style: italic;
}

body{
	background-image: url("../img/hockey_2.jpg");
	background-size:100% 150%;
	width: 600px;
	height: 450px;
}


.title-head{
	position: relative;
	left: 300px;
	top: 37px;
	font-size: 45px;
	font-weight: bold;
}

.navigator{
	position: relative;
	left: 350px;
	top: 65px;
	text-transform: uppercase;	
}

.nav-logo{
	width: fit-content;
}

#image_logo1{
	position: absolute;
	top: 199px;
	left: 35px;
}

.nav-logo:hover{
	transform: translate(0, -20px);
}

.navigator a {
	font-weight: bold;
	margin-left: 15px;
	text-decoration: underline;
	padding: 10px;
}

.navigator a:hover{
	background-color: #FFF000;
	padding: 5px;
}

.calendary{
	position: relative;
	left: 350px;
	top: 100px;
	
}

.calendary h2{
	width: fit-content;
	text-decoration:underline;
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #FFF000;
}

.section-list{
	list-style: none;
}

.items-events{
	margin-top: 15px;
}

.subLista{
	list-style: none;
	text-indent: 15px;
}

/*Estilos About*/

.titles-articles {
	position: relative;
	top: 100px;
	left: 250px;
}
#subtitle-header{
	position: relative;
	top: 100px;
	left: 370px;
	width: fit-content;
	text-decoration:underline;
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #FFF000;
}

.article{
	margin-top: 15px;
}


/*Estilos Contactos*/

.title-contact{
	position: relative;
	left: 300px;
	top: 37px;
	font-size: 45px;
	font-weight: bold;
}

.titles-contact{
	position: relative;
	top: 140px;
	left: 350px;
}

#subtitle-contact{
	position: relative;
	top: 104px;
	left: 367px;
	width: fit-content;
	text-decoration:underline;
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #FFF000;
}