* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* estilos navegacion */

body{
	margin-top: 50px;
}

header{
	position: relative;
	width: 800px;
	left: 100px;
	text-align: start;
	
}

header .navigator{
	margin-left: 50px;
	
}

.navigator {
	position: absolute;
	top: 30px;
	display: inline;
	width: 70%;
}
.navigator > h1{
	margin-bottom: 15px;
}

/* fin estilos navegacion */

main{
	position: relative;
	width: 700px;
	left: 100px;
	text-align: start;
}
#img-num1{
	position: absolute;
	top: 25px;
	width: 30%;
}
.calendary{
	position: absolute;
	top: 15px;
	left: 250px;
	display: inline;
	width: 70%;
}

.calendary ul{
	list-style: none;
}

.calendary ul>li>ul>li{
	text-indent: 2em;
	margin-top: 5px;
}

.calendary ul>li{
	margin-bottom: 15px;
}
.calendary > h2 {
	text-align: start;
	margin-bottom:15px;
}

.section-list{
	text-indent: 1em;
}
/* estilos about  */

.subtitle-img{
	display: none;
}

.titles-articles{
	position:absolute;
	left:180px;
	top:10px; 
}
.section-about img{
	margin-top: 35px;
}

.titles-articles article{
	margin-top: 20px;
}

.text-article{
	text-align: justify;
}


/* estilos contactos */

.section-contact{
	margin-top: 35px;
}