*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.header_navegacion{
	width: 100%;
	height: 200px;
	border: 10px solid rgb(207, 219, 31);
	display: flex;
	justify-content: space-between;
	background-color: #55ac99;
}
.container_menu{
	margin-right: 25px;
	padding-right: 70px;	
}
.menu_nav{
	width: 900px;
	height: 230px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	flex-wrap: wrap;
	align-content: center;
}
.menu_nav li{
	width: 150px;
}
.menu_nav li a{
	color: aliceblue;
	text-decoration: none;
}
.menu_nav li a:hover{
	background-color: #FFF000;
	padding: 10px;
	border:3px dashed #000000;
	color: #000000;
}
.logo{
	padding-left: 40px;
	margin-top: 40px;
}
.logo img{
	width: 100px;
	height: 100px;
}	
.logo img:hover{
	width: 90px;
	height: 90px;
	border: 3px dashed #000000;
	cursor: pointer;
}
.title-container h1{
	position: absolute;
	left: 450px;
	text-decoration: underline;
	padding-top: 14px;	
}
.container_info{
	display: flex;
	width: 100%;
	height: 400px;
	flex-direction: row-reverse;
	justify-content: space-evenly;
}
.information_events{
	margin-top: 70px;
	width: 40%;
}
.information_events h2{
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}
.info , .listas, .lista{
	list-style: none;
	margin-top: 10px;
}
.info{
	text-indent: 10px;
}

/*Estilos About*/

.container-about{
	display: flex;
	justify-content: space-around;
}
.information_about{
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 60%;
	margin-top: 40px;
	padding-left: 55px;
}
.information_about h2{
	padding-bottom: 5px;
	text-align:center;
	text-decoration: underline;
}
.container-image{
	margin-top: 100px;
	width: 40%;
}
.container-image img{
	width: 400px;
	height: 200px;
	border: 3px solid #000000;
}
.company_info{
	width: 650px;
	margin-top: 15px;
}
.company_info h3{
	text-decoration: underline;
	padding-bottom: 5px;
}

/*Estilos Contactos*/
.section-contact{
	width: 40%;
	margin-top: 90px;
}
 .section-contact h2{
	text-decoration: underline;
	margin-bottom: 15px;
 }


/* Estilos Rules*/

.container_rules{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
	margin:auto;
	padding: 10px;
	width: 750px;
	height: max-content;
	position: relative;
	top: 200px;
}
.container_rules h4{
	text-decoration: underline;
	margin-bottom: 10px;
	text-align: center;
}
.rule{
	margin-top: 10px;
}
.rule span{ 
	text-decoration: underline;
	font-weight: bold;
}
.rule p{
	text-indent: 10px;
}
.order_list{
	list-style-type: lower-latin;
}
#header-nav-rules{
	position: fixed;
	z-index: 1;
}
.container-table{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* margin-top: 200px; */
}
.title-games{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-decoration: underline;
	margin-left: 35px;
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
}
table{
	margin-top: 5px;
	border-spacing: 15px;
	text-align: center;
	width: 40%;
}
table th{
	font-weight: bold;
	text-decoration: underline;
}
table th, table td{
	text-align: center;
}
table th, table td {
	width: 100px;
}
tr:hover{
	background-color: yellow;
}
.footer_information{
	width: 30%;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.footer_information p{
	margin-top: 10px;
}
.footer_information p span{
	font-weight: bold;
	font-size: 15px;
}

iframe{
	width: 140px;
	height: 140px;
}

/*Estilos Registration*/

.body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	width: 750px;
	margin: auto;
}
form{
	display: flex;
	flex-direction: column;
	width: 750px;
	height: fit-content;
	margin: auto;
	gap: 10px;
	background-color: #55ac99;
	padding: 10px;
}

fieldset{
	margin: 0 10px;
	padding: 10px;
}
fieldset p{
	text-align: justify;
}
.container_btn{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	border: 2px solid #55ac99;
}
.container_btn button{
	border-radius: 10%;
	background-color: #FFF000;
	padding: 10px;
}

.personal_info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.completeName, .cityName, .address, .birth{
	margin-top: 10px;
	padding: 5px;
}
.completeName, .cityName, .address, .birth input{
	width: 180px;
	border: 0;
	outline: none;
}
.completeName, .cityName, .address, .birth  input:focus{
	border-color: rgb(231, 13, 13);
}
.education-grade{
	/* text-align: center; */
	margin-bottom: 10px;
}
.education-grade select{
	width: 200px;
}
.container-uniform{
	display: flex;
	flex-direction: column;
}
.cities{
	display: flex;
	flex-direction: column;
}
.city_1, .box{
	margin-top: 5px;
}
.city_1 label, .box label{
	margin-left: 10px;
}